---
import Layout from "../../layouts/Layout.astro";
import { formatMarkdownDateStringAccordingToLocale } from '../../utils/dateUtils';

export async function getStaticPaths() {
  const posts = await Astro.glob("../../posts/*.md");

  return posts.map(post => ({
    params: {
      slug: post.frontmatter.slug
    },
    props: {
      post
    }
  }));
}

const { Content, frontmatter } = Astro.props.post;
---

<Layout title={frontmatter.title} description={frontmatter.excerpt} keywords={frontmatter.tags} seoLang={frontmatter.lang} seoLocale={frontmatter.locale} seoRemoveMetaImage={true}>
  <div class="my-10 prose dark:prose-invert max-w-none prose-img:rounded-md">
    <h1 class="text-center">{frontmatter.title}</h1>
    <h3 class="text-center text-lg font-normal">{formatMarkdownDateStringAccordingToLocale(frontmatter.date, frontmatter.locale)}</h3>

    <div class="flex items-center justify-center">
      <div class="w-1/2">
        <hr class="h-px bg-gray-400 border-0 dark:bg-gray-600" />
      </div>
    </div>
    
    <Content />
  </div>
</Layout>
