---
import Layout from "../../layouts/Layout.astro";
import Post from "../../components/Post.astro";
import { markdownDateStringToDate } from '../../utils/dateUtils';
import Consts from "../../consts";

const posts = await Astro.glob("../../posts/*.md");

// sort posts by post.date in descending order (so, from the most recent post to the least recent one)
posts.sort((o1, o2) => {
  const date_1 = markdownDateStringToDate(o1.frontmatter.date);
  const date_2 = markdownDateStringToDate(o2.frontmatter.date);

  if(date_1 > date_2) {
    return -1;
  } else if(date_1 < date_2) {
    return 1;
  } else {
    return 0;
  }
});
---

<Layout title="Blog" description={Consts.blogDescriptionContent} keywords={Consts.blogKeywordsContent}>

  <div class="my-10">
    <h2 class="text-2xl mb-4 font-semibold flex items-center"><span class="material-symbols-outlined mr-1">rss_feed</span>Blog</h2>

    {posts.map(post => (
      <Post title={post.frontmatter.title} excerpt={post.frontmatter.excerpt} date={post.frontmatter.date} slug={post.frontmatter.slug} tags={post.frontmatter.tags.split(",")} locale={post.frontmatter.locale} />
    ))}
  
  </div>

</Layout>