---
import '../styles/globals.css';
import "flowbite/dist/flowbite.css";

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BackToTopButton from '../components/BackToTopButton.astro';
import resizedProfileImage from '../images/about/profile_resized.jpg';

export interface Props {
  title?: string,
  description?: string,
  keywords?: string,
  seoMetaTags?: boolean,
  seoLang?: string,
  seoLocale?: string
  seoRemoveMetaImage?: boolean
};

let {title = ""} = Astro.props as Props;
const {description = "", keywords = "", seoMetaTags = true, seoLang = "it", seoLocale = "it_IT", seoRemoveMetaImage = false} = Astro.props as Props;

if(title === "") {
  title = "Riccardo Armando Di Prinzio";
} else {
  title = title + " | Riccardo Armando Di Prinzio";
}

const seoImageURL = new URL(resizedProfileImage.src, Astro.url.origin);
---

<!DOCTYPE html>
<html class="scroll-smooth scroll-pt-32" lang={seoLang}>
  <head>
    <!-- Primary meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <!-- SEO meta tags -->
    {seoMetaTags && <meta name="description" content={description} />}
    {seoMetaTags && <meta name="keywords" content={keywords} />}
    {seoMetaTags && <meta name="author" content="Riccardo Armando Di Prinzio" />}
    {seoMetaTags && <meta name="robots" content="index,follow" />}
    <!-- OG data -->
    {seoMetaTags && <meta name="og:type" content="website" />}
    {seoMetaTags && <meta name="og:url" content={Astro.url} />}
    {seoMetaTags && <meta name="og:title" content={title} />}
    {(seoMetaTags && !seoRemoveMetaImage) && <meta name="og:image" content={seoImageURL} />}
    {seoMetaTags && <meta name="og:description" content={description} />}
    {seoMetaTags && <meta name="og:locale" content={seoLocale} />}
    <!-- Twitter data -->
    {seoMetaTags && <meta name="twitter:card" content="summary" />}
    {seoMetaTags && <meta name="twitter:url" content={Astro.url} />}
    {seoMetaTags && <meta name="twitter:title" content={title} />}
    {(seoMetaTags && !seoRemoveMetaImage) && <meta name="twitter:image" content={seoImageURL} />}
    {seoMetaTags && <meta name="twitter:description" content={description} />}
    <!-- End meta tags -->
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="alternate" type="application/rss+xml" href="/rss.xml" title="RSS" />
    <title>{title}</title>
    <script defer src="/assets/libs/flowbite.js" is:inline></script>
    <script is:inline>
      //<![CDATA[
      const themeKey = "theme";
      const lightTheme = "light";
      const darkTheme = "dark";

      const currentTheme = (function() {
        if(typeof localStorage !== "undefined" && localStorage.getItem(themeKey)) {
          return localStorage.getItem(themeKey);
        }

        if(window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return darkTheme;
        }

        return lightTheme;
      })();

      if(currentTheme === lightTheme) {
        document.documentElement.classList.remove(darkTheme);
      } else {
        document.documentElement.classList.add(darkTheme);
      }

      window.localStorage.setItem(themeKey, currentTheme);
      //]]>
    </script>
    <meta name="google-site-verification" content="Rb5lT0iPt1FyFSaMQkdTz-yai-MEK2Vid_wc94wG0AA" />
  </head>
  <body>    
    <Header />
    <main class="max-w-screen-md mx-auto px-8">
      <BackToTopButton />
      <slot />
    </main>
    <div class="max-w-screen-md mx-auto px-8">
      <Footer />
    </div>
    <script src="/assets/libs/em.js" is:inline></script>
    <script src="/assets/libs/custom.js" is:inline></script>
  </body>
</html>
